* {
    /* 去除浏览器默认内外边距 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1510px;
    overflow-x: hidden;
    letter-spacing: 0.1em;
    font-size: 13px;
    color: rgb(95, 95, 95);
    background-color: #f8f9fa;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.fl {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fl2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fl3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.head {
    width: 94%;
    margin: 0 auto;
    padding-top: 6px;
    color: rgb(95, 95, 95);
}

.head1>a {
    color: #e1251b;
    text-decoration: none;
}

.head1>a:hover {
    /* text-decoration: underline; 原有下划线*/
    border-bottom: 2px solid;
    /* 设置一个实线的下边框作为下划线 */
    border-color: currentColor;
    /* 让边框颜色和文字颜色相同，currentColor 代表继承当前文字颜色 */
    padding-bottom: 1px;
    /* 调整这个值来控制下划线与文字之间的间距*/
}

.head2>li>a {
    color: rgb(95, 95, 95);
}

.head2>li>a:hover {
    color: #e1251b;
}

.part1 {
    margin: 0 8% 0 8%;
    height: 125px;
}

.part1>div:nth-child(2) {
    width: 550px;
}

/* 定义 msg 的框样式 */
.msg_content {
    min-width: 927px;
    height: 100%;
    text-align: center;
    position: relative;
}


.container_f {
    width: 927px;
    margin: 0 auto;
}

/* 中间样式 */
.msg_center {
    text-align: left;
    max-width: 200%;
    padding: 20px;
    margin: 30px 0;
}

/** form 表单信息 **/
.form_box>div {
    height: 100%;
    margin-bottom: 30px;
}

.form_box>div:nth-child(2) {
    margin-bottom: 15px;

}

.form_box>div>span {
    display: none;
    color: #e1251b;
}

/* 收货信息*/
.address-section {
    margin: 20px 40px;
}

.address-section label {
    display: block;
    margin-bottom: 10px;
}

.address-section input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

/*  */

.form_box>div>div>span {
    color: #e1251b;
}

.form_box>div>label>span {

    color: #e1251b;
}

.form_box>.form_btn_post {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_box>div.form_btn_post button {
    width: 100px;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    border-radius: 5px;
    /* 背景色为线性渐变 */
    background-color: #e1251b;
    color: white;
    font-size: 16px;
    border: none;
}

.form_box>div.form_btn_post button:hover {
    background-color: rgb(227, 75, 75);
}

/* 支付方式 */
.payment-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    width: 702px;
    height: 400px;
}

.payment-modal .zhifu_neirong {
    float: left;

}


.payment-modal .zhifu_neirong img {
    margin-right: 20px;
}


.payment-modal img {
    width: 200px;
    float: left;
    ;
}

.confirm-pay {
    background-color: #e1251b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    margin-top: 10px;

}

/* 脚注 */
.footer {
    line-height: 22px;
    padding: 80px 0 20px 0;
    background-color: white;
}

.footer_width {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.foot1 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #e1251b;
    text-align: center;
    height: 27px;
}

.foot1 li i {
    font-size: 25px;
}

.foot2 {
    height: 100px;
}

.foot2 dt {
    align-self: flex-start;
    font-weight: 600;
}

.foot3>a {
    color: #e1251b;
}